## Model 6
Original model, but changes the standarization for normalization using MinMaxScaler

In [1]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from datetime import date

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('Resources/applicants_data.csv',)
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

KeyError: "['EIN' 'NAME'] not found in axis"

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
non_categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)
non_categorical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df =pd.concat([applicant_data_df[non_categorical_variables], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = MinMaxScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
# This is the numbers of columns in the X array
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = np.ceil(np.sqrt(number_input_features * number_output_neurons))

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

11.0

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  np.ceil(np.sqrt(hidden_nodes_layer1 * number_output_neurons))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4.0

In [21]:
# Create the Sequential model instance
nn = Sequential()

In [22]:
# Add the first hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer1,
        activation='relu',
        input_dim=number_input_features
    )
)

In [23]:
# Add the second hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer2,
        activation='relu'
    )
)

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 11)                1287
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 48
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 5
=================================================================
Total params: 1,340
Trainable params: 1,340
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [27]:
# Fit the model using 50 epochs and the training data
# nn_model will take the history
nn_model=nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5976 - accuracy: 0.6938
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7254
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7322
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7319
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7322
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7325
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7339
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7337
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7331
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7336
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7336
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7341
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7340
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7342
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7354
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7363
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7359
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7344
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7355
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7346
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7343
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7343
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7355
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7351
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7354
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7346
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7353
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7365
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7368
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7367
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7377
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7359:
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7365
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7380
Epoch 43/50
804/804 [==============================] - 1s 969us/step - loss: 0.5383 - accuracy: 0.7384
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7381
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7360: 0s - loss: 0.5381 - accuracy: 0.73
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7346
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7365: 0s - loss: 0.5368
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7356
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7379
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7363

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7290
Loss: 0.5559816360473633, Accuracy: 0.7289795875549316

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup_Model_6.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network models
In separate files there are 3 alternative neural networks models for the classification

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [30]:
# Display the model loss and accuracy results
results_df=pd.DataFrame(
                    data={
                        'Date': [date.today()],
                        'Model'   : [6],
                        'Observations': ['Original model, MinMaxScaler'],
                        'Loss'    : [model_loss], 
                        'Accuracy': [model_accuracy],
                        'Hidden layers': 2,
                        'Input Features':[number_input_features],
                        'Output Neurons': [number_output_neurons],
                        'Neurons in Hidden Layers1' : [hidden_nodes_layer1],
                        'Neurons in Hidden Layers2' : [hidden_nodes_layer2],
                        'Epochs'         : [50],
                        'Activation Hidden layer 1': ['relu'],
                        'Activation Hidden layer 2': ['relu'],
                        'Activation Output layer 1': ['sigmoid'],
                        'loss':['binary_crossentropy'],
                        'optimizer':['adam'],
                        'metrics':['accuracy']          
                    })

print(results_df.T)

                                                      0
Date                                         2021-09-25
Model                                                 6
Observations               Original model, MinMaxScaler
Loss                                           0.555982
Accuracy                                        0.72898
Hidden layers                                         2
Input Features                                      116
Output Neurons                                        1
Neurons in Hidden Layers1                          11.0
Neurons in Hidden Layers2                           4.0
Epochs                                               50
Activation Hidden layer 1                          relu
Activation Hidden layer 2                          relu
Activation Output layer 1                       sigmoid
loss                                binary_crossentropy
optimizer                                          adam
metrics                                        accuracy

In [32]:
results_df.to_csv('Resources/results.csv', mode='a')